<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Egg</title>
</head>
<body>
    <div class="image"><img src="{{url_for('static', filename='egg-man.png') }}" alt="no worky"></div>
    <p>Nestled amid a cluster of ordinary eggs, a solitary shell trembles with an air of melancholy that belies its outward appearance. Inside, a human consciousness, now confined to the fragile confines of its new, avian form, gazes out with a profound sadness. The egg's once-hopeful dreams of grand adventures and boundless opportunities have dwindled to a somber reality of potential insignificance, as the prospect of a mundane life as an "eggman" looms ever larger. This transition from boundless human potential to the humble fate of an egg, poised on the brink of an uncertain future, weighs heavily on the spirit trapped within, casting a shadow over what was once a horizon filled with promise</p>
    <a href="http://127.0.0.1:5000/">hom</a>
</body>
</html>