<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div>
        <h1>Please Log In!</h1>
    </div>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.username.label }}{{ form.username() }}
        {{ form.password.label }}{{ form.password() }}
        {{ form.submit() }}
    </form>
    <a href="http://127.0.0.1:5000/create_acc">Create Account</a>
</body>
</html>