<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/StyleSheet.css') }}">
    <title>Home</title>
</head>

<nav>
    <h1 class="nav-title">This is my Website!!</h1>   
    <a href="{{url_for('login')}}" class="login">Login Page</a>
    <a href="{{url_for('register')}}" class="register">Register Page</a>
</nav>

<body>

    <center><h1 class="body-title">Login Authentification System in Flask</h1></center>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure beatae molestiae minus rerum nemo, facere repellendus debitis libero perferendis ipsam, quae unde accusamus. Eius ducimus aliquid maxime reprehenderit saepe asperiores totam temporibus quos, tenetur, cum dolorum perspiciatis illo error molestias nisi vitae iusto beatae accusantium quasi natus molestiae ab animi omnis? Hic, pariatur nulla quisquam accusantium illo tenetur error omnis unde explicabo nostrum nemo asperiores in consectetur? Tenetur maiores sunt ipsa similique tempora, sint vero, praesentium nihil iure beatae amet possimus vel labore? Sapiente accusamus adipisci magni quod, debitis distinctio voluptas eveniet molestiae nam, excepturi facere tempore, perspiciatis esse corporis.</p>
    <center><h2>Please login to view more!!</h2></center>
    <!-- <a href="{{url_for('login')}}">Login Page</a>
    <a href="{{url_for('register')}}">Register Page</a> -->
</body>

<footer>
    <h6>Copyright &copy; Dylan Middleton ミドルトン・ディラン </h6>
</footer>
</html>